*{
    font-family: Arial;

}


body{
    background-color: white;
    padding: 0;
    margin: 0;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    border: 2px black solid;
    border-radius: 15px;
    height: 80%;
    width: 70%;
    max-width: 420px;
}
#main-screen{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}



img{
    height: 50%;
    margin: 0;
    padding: 0;
}
.button-box{
    height: 30%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.button-box button{
    height: 60px;
    width: 150px;
    background-color: black;
    border: 2px white solid;
    border-radius: 10px;
    color: white;



}
#main-screen h1{
    margin: 0;
    color: white;
}